body {
    color: #333e44;
    background-color: #e2e3e2;
    font-family: 'regulator-nova', sans-serif; 
    text-align: center;
}

#buffer {
    background-color: #e2e3e2;
    width: 100%;
    height: 1vw;
}
#green-pip {
    height: 1vw;
    width: 100%;
    margin-right: 0px;
    background-color: #2d818f;
}
#red-pip {
    height: 1vw;
    width: 100%;
    margin-right: 0px;
    background-color: #942229;
}
a.nav-link {
    color: #333e44;
    font-family: 'regulator-nova', sans-serif;
    font-weight: 300; 
    font-style: normal;
}
.navbar {
    color: #333e44;
    background-color: #2d818f;
    margin-bottom: 10px;
}
.dropdown-menu {
    background-color: #2d818f;
    border: none;
    border-radius: 0px;
    font-weight: bold;
}
.dropdown-item:hover {
    background-color: #d89846;
}
#smb-logl {
    margin-left: 3px;
}

#profile-pic {
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 33vw;
}
#shout {
    font-family: 'acier-bat-noir', 'Impact', sans-serif;
    color: #942229;
    font-size: 5em;
}
#contact {
    text-align: center;
    word-wrap: break-word;
}
#icons {
    margin-bottom: 10px;
}
#icons > a > img {
    height: 40px;
    width: 40px;
    margin: 10px;
}


@media only screen and (max-width: 768px) {
  #buffer, #green-pip, #red-pip {
      height: 3vw;
  }
  #profile-pic {
      width: 100%;
      margin: auto;
  }  
}