body {
    color: #AD8174;
    background-color: #222223;
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
}

.choose-background {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
}

#buffer {
    background-color: #689775;
    width: 100%;
    height: 1vw;
}
#black-pip {
    height: 1vw;
    width: 100%;
    margin-right: 0px;
    background-color: #222223;
}
#red-pip {
    height: 1vw;
    width: 100%;
    margin-right: 0px;
    background-color: #A33327;
}
a.nav-link {
    color: #B8B8AA;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}
nav {
    background-color: #689775;
    margin-bottom: 10px;
}
.dropdown-menu {
    background-color: #689775;
    border: none;
    border-radius: 0px;
    font-weight: bold;
}
.dropdown-item:hover {
    background-color: #C7493A;
}


a {
    text-decoration-line: none;
    color: #AD8174;
}
a:hover {
    text-decoration-line: none;
    color: #917164;
}

#title {
    font-family: 'Bungee Inline', 'Impact', sans-serif;
    font-size: 6vw;
    margin-bottom: 3vw; 
    color: #A33327;
}
#galleries {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
    background-color: #A33327;
}

#galleries > div {
    color: #AD8174;
    height: 10vw;
    background-color: #222223;
    padding: 2vw;
    font-family: 'Impact', sans-serif;
    font-size: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
 #galleries {
     grid-template-columns: auto;
 }  
 #galleries > div {
     font-size: 8vw;
     height: 20vw;
 } 
 #title {
     font-size: 7vw;
 }
}