body {
    color: #AD8174;
    background-color: #e2e3e2;
    font-family: 'regulator-nova', sans-serif;
    text-align: center;
}

.choose-background {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
}

#buffer {
    background-color: #2d818f;
    width: 100%;
    height: 1vw;
}
#black-pip {
    height: 1vw;
    width: 100%;
    margin-right: 0px;
    background-color: #e2e3e2;
}
#red-pip {
    height: 1vw;
    width: 100%;
    margin-right: 0px;
    background-color: #942229;
}
/* a.nav-link {
    color: #B8B8AA;
    font-family: 'regulator-nova', sans-serif;
    font-weight: bold; 
}
nav {
    background-color: #689775;
    margin-bottom: 10px;
}
.dropdown-menu {
    background-color: #689775;
    border: none;
    border-radius: 0px;
    font-weight: bold;
}
.dropdown-item:hover {
    background-color: #C7493A;
} */


a {
    text-decoration-line: none;
    color: #2d818f;
}
a:hover {
    text-decoration-line: none;
    color: #d89846;
}

#title {
    font-family: 'acier-bat-noir', 'Impact', sans-serif; 
    font-size: 4em;
    margin-bottom: 3vw; 
    color: #942229;
    /* text-shadow: 7px 7px #d89846; */
}
#galleries {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
    background-color: #942229;
}

#galleries > div {
    color: #2d818f;
    height: 10vw;
    background-color: #e2e3e2;
    padding: 2vw;
    font-family: 'regulator-nova', sans-serif;
    font-size: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
 #galleries {
     grid-template-columns: auto;
 }  
 #galleries > div {
     font-size: 8vw;
     height: 20vw;
 } 
 #title {
     font-size: 7vw;
 }
}