body {
    background-color: #222223;
}

.index-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#well-text {
    font-size: 10vmin;
    color: #689775;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#well-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#hello-text {
    font-size: 21vmin;
    color: #A33327;
    font-family: 'Bungee Inline', 'Impact', sans-serif; 
}
#hello-col {
    text-align: center;
}
#there-text {
    font-size: 10vmin;
    color: #689775;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#there-col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#enter-button-div {
    display: flex;
    justify-content: center;
}
#enter-button {
    color: #AD9174;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}
#enter-button:hover {
    font-weight: bold;
    color: #917164;
}


@media (max-width: 991.98px) {
    #well-col {
        justify-content: center;
    }
    #there-col {
        justify-content: center;
    }
    #well-text {
        font-size: 15vw;
    }
    #there-text {
        font-size: 15vw;
    }
    #enter-button {
        font-size: 5vw;
        margin-top: 5vw;
    }
}

/*
font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;
*/