body {
    background-color: #222223;
}

#index-background {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
}

#welcome-text-div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
}
#well-text {
    font-size: 6vw;
    color: #689775;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#well-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#hello-text {
    font-size: 14vw;
    color: #A33327;
    font-family: 'Bungee Inline', 'Impact', sans-serif; 
}
#hello-div {
    text-align: center;
}
#there-text {
    font-size: 6vw;
    color: #689775;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#there-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#enter-button-div {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}
#enter-button {
    color: #AD9174;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}
#enter-button:hover {
    font-weight: bold;
    color: #917164;
}
a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    #welcome-text-div {
        grid-template-columns: auto;
    }
    #well-div {
        justify-content: center;
    }
    #there-div {
        justify-content: center;
    }
    #well-text {
        font-size: 12vw;
    }
    #hello-text {
        font-size: 20vw;
    }
    #there-text {
        font-size: 12vw;
    }
    #enter-button {
        font-size: 4vw;
        margin-top: 5vw;
    }
}

/*
font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;
*/